[user]
	name = Mathew Davies
	email = thepixeldeveloper@icloud.com

[github]
	user = ThePixelDeveloper

[alias]
	log = log --color
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%ar%Creset by %C(yellow)%an%Creset' --abbrev-commit
	dw = diff --color-words
	up = pull --rebase --autostash
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop\\|stage' | xargs -n 1 git branch -d"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[color]
	ui = true
	diff = true

[branch]
	autosetuprebase = always

[push]
	default = current

[help]
	autocorrect = 1

[core]
	excludesfile = /Users/mathewdavies/.gitignore
	ignorecase = false

[advice]
	statusHints = false

[diff]
	mnemonicprefreix = true